.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  padding: 132px 21px;
}

h1 {
  color: #5b2333;
  font-size: 25px;
  font-weight: 700;
}

.input {
  border: 1px solid #5b2333;
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  color: #5b2333;
}

.input::placeholder {
  color: #5b2333;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 500px) {
  .input {
    width: max-content;
  }
}
